/*Main and default styles*/
html {
  font-size: 18px;
}

body {
  font-family: 'Hind Vadodara', sans-serif;
  font-size: 1rem;
  background-color: #F4F4F4;
  color: #505050;
}

h1 {
  font-size: 2.6rem;
  font-weight: 600;
  color: #505050;
 }

 h2 {
   font-size: 2rem;
   color: #505050;
   font-weight: 600;
 }

 h4 {
   font-size: 1.5rem;
   color: #505050;
   font-weight: 600
 }

 h6 {
   font-size: 1.25rem;
   color: #505050;
   font-weight: 400;
 }

 p {
   font-size: 0.8rem;
   color: #505050;
 }

 span, nav {
   font-size: 0.8rem;
   color: #505050;
 }

 .container {
   max-width: 100%;
   margin-auto;
 }

@media only screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
}

/*Header and Nav*/
header {
  background-color: white;
}

header.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  background-color: white;
}

.colmar {
  font-size: 1.5rem;
  font-family: 'Biryani';
  font-weight: 800;
}

.academy{
  color: #A0A0A0;
  font-size: 1.5rem;
  font-family: 'Biryani';
  font-weight: 400;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 3rem;
  padding-left: 24px;
}

nav {
  text-align: right;
  flex-grow: 1;
}

.links li {
  display: inline-block;
  padding-right: 16px;
  font-size: 1rem;
  text-decoration: none;
  color: #A0A0A0
}

nav.mobile {
  display: none;
}

@media only screen and (max-width: 480px) {
  nav.links {
    display: none;
  }

  .logo {
    display: none;
  }

  nav.mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 24px;
    padding-left: 24px;
  }
}


/*Main Section 1*/
.main {
  display: flex;
  background-color: #A0A0A0;
  margin: 0 auto;
 }

.main .container {
  display: flex;
  justify-content: space-between
}

.main-left {
  width: 60%;
  padding: 32px 24px;
}

.main-left img {
  width: 100%;
}

.main-right {
  width: 40%;
}

.motto h4 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.motto {
  height: auto;
  padding-left: 24px;
  margin-right: 16px;
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.start {
  color: #F4F4F4;
  background-color: #505050;
  width: 100%;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 15%;
  font-size: 2rem;
  width: 80%;
}

@media only screen and (max-width: 780px) {
  .main .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  .main .main-left {
    width: 100%;
    padding: 0;
  }

  .main-right: {
    width: 100%;
  }

  .motto {
    margin: 32px 24px;
    align-items: center;
  }

  .motto button {
    width: 50%;
  }
}

@media only screen and (max-width: 480px) {
  .motto button {
    width: 100%;
  }
}

/*Main Section 2*/
.second {
  display: flex;
  justify-content: space-between;
}

.second .main-left h2 {
  padding-top: 32px;
}

.second .main-left p {
  padding: 16px 0px;
}

.second main-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 16px 0px 32px 0px;
  border-left: 1px #A0A0A0 solid;
}


.sidebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.main-right :hover {
  background-color: #A0A0A0;
}

.sidebar img {
  height: auto;
  max-height: 200px;
  max-width: 35%;
  padding: 16px;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}

.sidebar-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  width: 65%;
  line-height: 1.5;
  margin-left: 16px;
}

.sidebar img.mobile {
  display: none;
}

@media only screen and (max-width: 480px) {
  .practice .main-left {
    display: none;
  }

  .practice main-right {
    padding: 16px 16px 32px 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  .sidebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.sidebar img.desktop {
  display: none;
}

.sidebar img.mobile {
  display: flex;
  width: 100%;
}
}
/*Main Section 3*/
.learning {
  background-color: #A0A0A0;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
}

.learning .container h2 {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
  margin: auto;
  width: 100%;
}

.course-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 80%;
}

.course {
  background-color: white;
  height: 16rem;
  margin-bottom: 32px;
  width: 30%;
}

.course img {
  width: 100%;
}

.course-list {
  display: none;
}

.course h6, .course p {
  padding-left: 16px;
  padding-top: 8px;
}

@media only and screen (max-width: 480px){
  .learning {
    border-top: 1px solid #A0A0A0;
    border-bottom: 1px solid #A0A0A0;
    background-color: white;
  }

  .learning .container {
    margin: 0 auto;
    width: 100%
  }

  .course-box {
    display: none;
  }

  .course-list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
  }

}

/*Main Section 4*/
.thesis {
  padding-bottom: 32px;
}
.thesis h2 {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
  width: 100%;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.left-section {
  width: 60%;
  margin-left: 24px;
  margin-right: 24px;
  text-align: left;
}

.left-section video {
  width: 100%;
}

.vid-description {
  padding-top: 24px;
}

.vid-description h6 {
  padding-bottom: 8px;
}

@media only and screen (max-width: 480px) {
  .flex-container right-section {
    display: none;
  }

  .flex-container .left-section {
    width: 100%;
    padding: 0px;
  }

  .flex-container .left-section p, .flex-container .left-section h6 {
    display: none;
  }
}

/*footer*/

footer {
  font-size: 1.8rem;
  color: #A0A0A0;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px #A0A0A0 solid;
}

footer span {
  padding-left: 24px;
  padding-top: 16px;
  padding-bottom: 32px;
}

footer nav {
  text-align: right;
  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 32px;
}

footer nav a {
  text-decoration: none;
  color: #A0A0A0;
}
